# Ambientes Virtuais
Include/
Lib/
Scripts/
pyvenv.cfg
.venv/
venv/
env/

# Dados, Pesos e Modelos IA
weights/
*.pt
*.pth
data/
dataset/
dataset_completo/
Lixeira/
*.mp4
*.avi
*.jpg
*.png
estrutura-monorepo.txt

# Segurança e Credenciais
keys/
secrets/
*.txt
!requirements.txt
server_remote_access*
*.env

# Caches do Python e SO
__pycache__/
*.pyc
.DS_Store
Thumbs.db